.postlist {
  & > li {
    margin-bottom: 4rem;

    & a {
      margin-right: 1rem;
    }

    & h3 {
      display: inline;
    }

    & span {
      font-size: 1rem;
      margin-left: 1rem;
    }
  }
}

.projectlist {
  & > li {
    margin-bottom: 4rem;

    & h3 {
      display: inline;
    }

    & p {
      margin-left: 1rem;
    }
  }
}
