/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

@font-face {
	font-family: "et-book";
	src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
	src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix")
		format("embedded-opentype"),
		url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff")
		format("woff"),
		url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf")
		format("truetype"),
		url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf")
		format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "et-book";
	src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
	src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix")
		format("embedded-opentype"),
		url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff")
		format("woff"),
		url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf")
		format("truetype"),
		url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf")
		format("svg");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "et-book";
	src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
	src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix")
		format("embedded-opentype"),
		url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff")
		format("woff"),
		url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf")
		format("truetype"),
		url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf")
		format("svg");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "et-book-roman-old-style";
	src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
	src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix")
		format("embedded-opentype"),
		url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff")
		format("woff"),
		url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf")
		format("truetype"),
		url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf")
		format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@import "tailwindcss";

@theme {
	--breakpoint-desktop: 760px;

	--font-serif: "et-book", Palatino, "Palatino Linotype", "Palatino LT STD",
		"Book Antiqua", Georgia, serif;
	--font-old: et-book-roman-old-style;

	--text-xs: 0.8rem;
	--text-sm: 0.9rem;
	--text-base: 15px;
	--text-lg: 1.1rem;
	--text-xl: 1.2rem;
	--text-2xl: 1.3rem;
	--text-3xl: 1.4rem;

	--leading-1: 1;
	--leading-2: 2;

	--color-foreground: light-dark(#111, #ddd);
	--color-background: light-dark(#fffff8, #151515);
	--color-neutral: #ccc;

	--spacing-paragraph: 100%;
	--spacing-paragraph-desktop: 55%;
	--spacing-sidebar: 40px;

	--paragraph-width: 55%;
	--paragraph-width-phone: 100%;

	--font-weight-heading: 400;
}

@utility content-layout {
	@apply desktop:w-[87.5%] w-[84%] pt-20 mx-auto px-[8%] desktop:pl-[12.5%] bg-background text-foreground max-w-[1400px];
}

@utility clear-descenders {
	text-shadow:
		var(--color-background) 0px -1px 0.5px,
		var(--color-background) 0px -1.25px 0.5px,
		var(--color-background) 0px -1.75px 0.5px,
		var(--color-background) 0px -2px 0.5px,
		var(--color-background) -4px 0px,
		var(--color-background) -3px 0px,
		var(--color-background) -2px 0px,
		var(--color-background) -1px 0px,
		var(--color-background) 1px 0px,
		var(--color-background) 2px 0px,
		var(--color-background) 3px 0px,
		var(--color-background) 4.5px 0px;
}

:root {
	color-scheme: light dark;
	@apply font-serif bg-background;
}

@layer base {
	h1 {
		@apply mt-16 mb-6 text-[3.2rem] leading-1;
	}

	h2 {
		@apply italic font-heading mt-[2.1rem] mb-[1.4rem] text-[2.2rem] leading-1;
	}

	h3 {
		@apply italic font-heading mt-8 mb-[1.4rem] text-[1.7rem] leading-1;
	}

	hr {
		@apply block h-[1px] border-0 border-t-[1px] border-solid border-neutral my-4 p-0 w-paragraph desktop:w-paragraph-desktop;
	}

	p.subtitle {
		@apply italic block my-4 font-heading text-[1.8rem] leading-1;
	}

	.numeral {
		@apply font-old;
	}

	.danger {
		@apply text-red-500;
	}

	article.article {
		@apply content-layout;
		counter-reset: sidenote-counter;

		& > .content {
			@apply py-20;
		}

		& > section {
			@apply py-4;
		}

		p,
		dl,
		ol,
		ul {
			@apply text-3xl leading-[2rem];
		}

		p {
			@apply my-[1.2rem] pr-0;
			vertical-align: baseline;
		}

		/* Chapter Epigraphs */
		div.epigraph {
			@apply my-[5em];

			& > blockquote {
				@apply my-[3em] italic;

				& > p {
					@apply italic;
				}

				& > footer {
					@apply not-italic;

					& > cite {
						@apply italic;
					}
				}
			}
		}
		/* end chapter epigraphs styles */

		blockquote {
			@apply text-3xl ml-6 mr-0;

			& p {
				@apply mr-sidebar w-paragraph desktop:w-paragraph-desktop;
			}

			& footer {
				@apply text-lg text-right w-paragraph desktop:w-paragraph-desktop;
			}

			& .sidenote,
			& .marginnote {
				@apply -mr-[82%] min-w-[59%] text-left hidden desktop:block;
			}
		}

		section > p,
		section > footer,
		section > table {
			@apply w-paragraph desktop:w-paragraph-desktop;
		}

		section > table {
			@apply w-[85%] desktop:w-full;
		}

		section > dl,
		section > ol,
		section > ul {
			@apply w-[90%] pl-[5%];

			@media (min-width: 761px) {
				width: calc(var(--paragraph-width) - 5%);
			}
		}

		dt:not(:first-child),
		li:not(:first-child) {
			@apply mt-1;
		}

		figure {
			@apply p-0 border-0 align-baseline text-[100%] max-w-[90%] desktop:max-w-paragraph-desktop mb-[3em];

			figcaption,
			figure.fullwidth figcaption {
				@apply mr-0 max-w-none;
			}
		}

		figcaption {
			@apply float-right align-baseline clear-right my-0 mr-0 text-[1.1rem] leading-[1.6] desktop:max-w-[760px];
		}

		figure.fullwidth figcaption {
			@apply desktop:mr-[24%] mr-0;
		}

		a:link,
		a:visited {
			@apply text-inherit underline-offset-[0.1em] decoration-[0.05em];
		}

		/* Sidenotes, margin notes, figures, captions */
		img {
			@apply desktop:max-w-full w-full;
		}

		.sidenote,
		.marginnote {
			@apply hidden desktop:block float-right clear-right -mr-[60%] w-1/2 mt-[0.3rem] text-[1.1rem] leading-[1.3] relative;
		}

		.sidenote-number {
			counter-increment: sidenote-counter;
			&:after {
				@apply content-[counter(sidenote-counter)] font-old relative align-baseline -top-[0.5rem] left-[0.1rem] text-base;
			}
		}

		.sidenote:before {
			@apply font-old relative align-baseline content-[counter(sidenote-counter)_"_"] text-base -top-2;
		}

		div.fullwidth,
		table.fullwidth {
			@apply w-full;
		}

		div.table-wrapper {
			@apply overflow-x-auto w-[85%] desktop:w-full;
			font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
		}

		.sans {
			font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
			letter-spacing: 0.03em;
		}

		code,
		pre > code {
			@apply text-base leading-[1.42];
			font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
			-webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
		}

		.sans > code {
			@apply text-[1.2rem];
		}

		h1 > code,
		h2 > code,
		h3 > code {
			@apply text-[0.8em];
		}

		.marginnote > code,
		.sidenote > code {
			@apply text-base;
		}

		pre > code {
			@apply text-[0.9rem] w-[97%] desktop:w-[52.5%] ml-[2.5%] overflow-x-auto block;
		}

		pre.fullwidth > code {
			@apply w-[90%];
		}

		.fullwidth {
			@apply max-w-[90%] clear-both;
		}

		span.newthought {
			@apply text-[1.2rem];
			font-variant: small-caps;
		}

		input.margin-toggle {
			@apply hidden;
		}

		label.sidenote-number {
			@apply inline-block max-h-8;
		}

		label.margin-toggle:not(.sidenote-number) {
			@apply inline desktop:hidden;
		}

		.iframe-wrapper {
			@apply relative pb-[56.25%] pt-[25px] h-0;

			& > iframe {
				@apply absolute top-0 left-0 w-full h-full;
			}
		}

		.margin-toggle:checked + .sidenote,
		.margin-toggle:checked + .marginnote {
			@apply block relative float-left left-4 clear-both w-[95%] mx-[2.5%] my-4;
		}

		label {
			@apply cursor-pointer;
		}
	}
}
