---
import BaseHead from "../components/BaseHead.astro";
import Blockquote from "../components/Blockquote.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="Konstantin Kovar"
      description="Hier stellt Konstantin Kovar fest: Er hat weder Zeit noch Muse zu schreiben."
    />
    <style>
    article {
      width: clamp(360px, 55svw, 600px);
    }
    </style>
  </head>
  <body>
    <main>
      <article>
        <Blockquote
          quote="Lebe im Verborgenen."
          footer="<cite>- Epikur</cite>"
        />
      </article>
    </main>
  </body>
</html>
