---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Über den Konstantin"
  description="der eigentlich ganz ok ist."
  lang="de"
>
  <p class="col-start-1 -col-end-1">
    Über mich habe ich noch nichts geschrieben. Ist ja auch nicht notwendig.
  </p>
</BaseLayout>
