---
import Article from "../components/Article.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const FEATURED_POST_TITLE = "Cluburlaub, Türkei, 2025";

const featuredPost = (await getCollection("blog")).find(
  ({ data }) => data.title === FEATURED_POST_TITLE,
);

const { Content } = featuredPost
  ? await featuredPost.render()
  : { Content: () => null };
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} lang="de">
  <div
    slot="aside"
    class="h-full max-w-full flex justify-center items-center @container contain-content"
  >
  </div>

  <div
    id="article"
    class="flex justify-center items-baseline h-fit col-start-1 col-span-8 max-h-[40vh] mask-b-from-45"
  >
    <!-- @ts-expect-error-->
    <Article title={featuredPost?.data.title ?? ""}>
      <Content />
    </Article>
  <a
    id="further"
    href={"/blog/" + featuredPost?.slug}
    class="h-12 mt-8 text-center text-md w-fit mx-auto border-foreground border-1 rounded py-2 px-8 cursor-pointer hover:bg-foreground hover:text-background transition-colors duration-300"
    >weiterlesen...</a
  >
  </div>
</BaseLayout>

