---
import Article from "../components/Article.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const FEATURED_POST_TITLE = "Cluburlaub, Türkei, 2025";

const featuredPost = (await getCollection("blog")).find(
  ({ data }) => data.title === FEATURED_POST_TITLE,
);

const { Content } = featuredPost
  ? await featuredPost.render()
  : { Content: () => null };
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} lang="de">
  <div
    slot="aside"
    class="h-full max-w-full flex justify-center items-center @container contain-content"
  >
  </div>

  <div
    class="w-full max-w-full max-h-[110svh] mx-auto bg-background desktop:h-screen"
  >
    <div class="mx-auto max-h-5/6 mask-b-from-45">
      <!-- @ts-expect-error-->
      <Article title={featuredPost?.data.title ?? ""}>
        <Content />
      </Article>
    </div>
    <div class="h-1/6">
      <a
        href={"/blog/" + featuredPost?.slug}
        class="block mt-8 text-center text-md w-fit mx-auto border-foreground border-1 rounded py-2 px-8 cursor-pointer hover:bg-foreground hover:text-background transition-colors duration-300"
        >weiterlesen...</a
      >
    </div>
  </div>
</BaseLayout>
