---
import Article from "../components/Article.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const FEATURED_POST_TITLE = "Cluburlaub, Türkei, 2025";

const featuredPost = (await getCollection("blog")).find(
  ({ data }) => data.title === FEATURED_POST_TITLE,
);

const { Content } = featuredPost
  ? await featuredPost.render()
  : { Content: () => null };
---

<BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  lang="de"
>
  <div
    slot="aside"
    class="h-full max-w-full bg-cherry-blossom-pink text-raisin-black flex justify-center items-center @container contain-content"
  >
    <div class="relative cursor-default p-12">
      <p class="text-[10cqw] font-decorative">Konstantin Kovar</p>
      <p class="italic border-b text-[7cqw]">
        Softwareentwickler und Freizeitnostalgiker
      </p>
      <nav
        class="flex flex-col-reverse justify-between gap-2 mt-8 w-full"
      >
        <a
          class="block w-full text-center text-sm desktop:text-md mx-auto desktop:border-raisin-black border-1 rounded py-2 px-8 cursor-pointer hover:bg-raisin-black hover:text-lavender-blush transition-colors duration-300"
          href="/blog">Jüngst&nbsp;geschrieben</a
        >
        <a
          class="block w-full text-center text-sm desktop:text-md mx-auto desktop:border-raisin-black border-1 rounded py-2 px-8 cursor-pointer hover:bg-raisin-black hover:text-lavender-blush transition-colors duration-300"
          href="/book">Jüngst&nbsp;gelesen</a
        >
      </nav>
    </div>
  </div>

  <div
    class="w-full max-w-full max-h-[110svh] mx-auto bg-background desktop:h-screen"
  >
    <div class="mx-auto max-h-5/6 mask-b-from-45">
      <!-- @ts-expect-error-->
      <Article title={featuredPost?.data.title ?? ""}>
        <Content />
      </Article>
    </div>
    <div class="h-1/6">
      <a
        href={"/blog/" + featuredPost?.slug}
        class="block mt-8 text-center text-md w-fit mx-auto border-foreground border-1 rounded py-2 px-8 cursor-pointer hover:bg-foreground hover:text-background transition-colors duration-300"
        >weiterlesen...</a
      >
    </div>
  </div>
</BaseLayout>
