---
import BaseHead from "../components/BaseHead.astro";
import Article from "../components/Article.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const FEATURED_POST_TITLE = "Cluburlaub, Türkei, 2025";

const featuredPost = (await getCollection("blog")).find(
  ({ data }) => data.title === FEATURED_POST_TITLE,
);

const { Content } = featuredPost
  ? await featuredPost.render()
  : { Content: () => null };
---

<!doctype html>
<html lang="de-AT">
  <BaseHead
    title="Konstantini Pagina Domestica"
    description={SITE_DESCRIPTION}
  />

  <body>
    <div
      id="body"
      class="grid-cols-1 desktop:size-screen max-w-full overflow-hidden desktop:min-h-screen desktop:overflow-hidden grid grid-rows-[95vh_1fr)] desktop:grid-cols-[480px_1fr]"
    >
      <aside
        class="h-full row-start-2 px-8 py-22 desktop:row-start-auto bg-cherry-blossom-pink text-raisin-black desktop:h-screen flex justify-center items-center"
      >
        <div class="relative cursor-default px-8">
          <p class="text-5xl font-decorative">
            {SITE_TITLE}
          </p>
          <p
            class="italic border-b text-[max(1.6rem,1svh)]"
          >
            {SITE_DESCRIPTION}
          </p>
          <nav
            class="flex flex-col-reverse tablet:flex-row justify-between gap-2 desktop:gap-8 mt-8 desktop:mt-12 w-full"
          >
            <a
              class="block w-full text-center text-sm desktop:text-md mx-auto desktop:border-raisin-black border-1 rounded py-2 px-8 cursor-pointer hover:bg-raisin-black hover:text-lavender-blush transition-colors duration-300"
              href="/blog">Jüngst&nbsp;geschrieben</a
            >
            <a
              class="block w-full text-center text-sm desktop:text-md mx-auto desktop:border-raisin-black border-1 rounded py-2 px-8 cursor-pointer hover:bg-raisin-black hover:text-lavender-blush transition-colors duration-300"
              href="/book">Jüngst&nbsp;gelesen</a
            >
          </nav>
        </div>
      </aside>

      <main
        class="w-full max-w-full max-h-[110svh] mx-auto bg-background desktop:h-screen"
      >
        <div class="mx-auto max-h-5/6 mask-b-from-45">
          <Article title={featuredPost?.data.title ?? ""}>
            <Content />
          </Article>
        </div>
        <div class="h-1/6">
          <a
            href={"/blog/" + featuredPost?.slug}
            class="block mt-8 text-center text-md w-fit mx-auto border-foreground border-1 rounded py-2 px-8 cursor-pointer hover:bg-foreground hover:text-background transition-colors duration-300"
            >weiterlesen...</a
          >
        </div>
      </main>
    </div>
  </body>
</html>
