---
import Article from "../components/Article.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const FEATURED_POST_TITLE = "Cluburlaub, Türkei, 2025";

const featuredPost = (await getCollection("blog")).find(
  ({ data }) => data.title === FEATURED_POST_TITLE,
);

const { Content } = featuredPost
  ? await featuredPost.render()
  : { Content: () => null };
---

<BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  animateName
  lang="de"
>
  <div
    id="article"
    class="row-start-1 col-start-1 -col-end-1 max-h-[69vh] mask-b-from-45 overflow-clip"
  >
    <!-- @ts-expect-error-->
    <Article title={featuredPost?.data.title ?? ""}>
      <Content />
    </Article>
  </div>
  <a
    id="further"
    href={"/blog/" + featuredPost?.slug}
    class="block row-start-2 col-start-1 z-10 -col-end-1 h-12 mt-8 text-center text-md w-fit mx-auto border-foreground border-1 rounded py-2 px-8 cursor-pointer hover:bg-foreground hover:text-background transition-colors duration-300"
    >weiterlesen...</a
  >
</BaseLayout>
