---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import type { BlogPostType } from "./blog/[...slug].astro";
import BlogPost from "../layouts/BlogPost.astro";

const FEATURED_POST_TITLE = "Wckltsch";

const featuredPost: BlogPostType = (await getCollection("blog"))
  .filter(({ data }: BlogPostType) => data.title === FEATURED_POST_TITLE)
  .sort(
    (a: BlogPostType, b: BlogPostType) =>
      a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
  )[0];

const { Content } = await featuredPost.render();
---

<!doctype html>
<html lang="de-AT">
  <BaseHead
    title="Konstantini Pagina Domestica"
    description={SITE_DESCRIPTION}
  />

  <body>
    <div
      id="body"
      class="h-screen grid grid-cols-1 desktop:grid-cols-[480px_120px_1fr]"
    >
      <aside
        class="row-start-2 desktop:row-start-1 desktop:bg-cherry-blossom-pink desktop:text-raisin-black bg-desktop:row-start-1 text-[clamp(2rem,7svw,3.4rem)] h-screen p-8 flex justify-center items-center"
      >
        <div class="w-fit">
          <p>{SITE_TITLE}</p>
          <p
            class="italic text-raisin-black-bean desktop:border-b text-[0.94ch]"
          >
            {SITE_DESCRIPTION}
          </p>
        </div>
      </aside>

      <div class="hidden desktop:block size-full home-screen-gradient"></div>

      <main class="flex justify-center items-center desktop:col-start-3 desktop:bg-background">
        <article class="article !bg-transparent">
          <Content />
        </article>
      </main>
    </div>
  </body>
</html>
