---
import BaseHead from "../components/BaseHead.astro";
import Blockquote from "../components/Blockquote.astro";
---
<html lang="en">
  <head>
    <BaseHead title="{SITE_TITLE}" description="{SITE_DESCRIPTION}" />
    <style>
    body {
      width: 100svh;
    }
    main {
      margin: auto;
      width: 0.4svw;
      min-width: 360px;
    }
    </style>
  </head>
  <body>
    <main>
      <Blockquote quote="Lebe im Verborgenen." footer="<cite>- Epikur</cite>" />
    </main>
  </body>
</html>
