---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <button class="bg-background ml-20">
    <svg
      height="200"
      width="200"
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      viewBox="0 0 40 50"
    >
      <path
        id="side-panel-toggle-top-path"
        d="M 5,5 L 35,25"
        style="fill:var(--color-foreground); stroke-linecap: round; fill-opacity: 0; stroke: var(--color-foreground); stroke-width: 1px;"
      ></path>
      <path
        id="side-panel-toggle-bottom-path"
        d="M 5,45 L 35,25"
        style="fill:var(--color-foreground); stroke-linecap: round; fill-opacity: 0; stroke: var(--color-foreground); stroke-width: 1px;"
      ></path>
      <circle cx="25" cy="25" r="2" style="fill: var(--color-foreground);"
      ></circle>
    </svg>
  </button>
</BaseLayout>

<script>
  import { animate } from "animejs";

  animate("#side-panel-toggle-top-path", {
    d: "M 35,5 L 5,25",
    alternate: true,
    duration: 400,
    loop: true,
    loopDelay: 500,
    ease: 'inOutBack(2)'
  });

  animate("#side-panel-toggle-bottom-path", {
    d: "M 35,45 L 5,25",
    alternate: true,
    duration: 400,
    loop: true,
    loopDelay: 500,
    ease: 'inOutBack(2)'
  });

  animate("circle", {
    cx: 15,
    alternate: true,
    duration: 450,
    delay: 30,
    loop: true,
    loopDelay: 500,
    ease: 'inOutBack(5)'
  });
</script>
