---
import type { collections } from "../content/config";
import Details from "./Details.astro";
import BookDataList from "./BookDataList.astro";

type Props = (typeof collections)["book"] & { isBook: boolean };

const { title, subtitle, authors, releaseDate, isBook, ...rest } = Astro.props;

const hasAuthors = Boolean(authors && authors.length);
---

<div class="book-heading">
  <h1 class="text-pretty opacity-0">{title}</h1>
  {subtitle && <p class="subtitle">{subtitle}</p>}
  {
    (hasAuthors || releaseDate) && (
      <div class="authors">
        {" "}
        {hasAuthors && (
          <ul>
            {authors.map((author: string) => (
              <li set:html={author.trim()} />
            ))}
          </ul>
        )}
        {hasAuthors && releaseDate && ", "}
        {releaseDate && <span>{releaseDate}</span>}
      </div>
    )
  }
  {
    isBook && (
      <Details>
        <BookDataList {...rest} />
      </Details>
    )
  }
</div>

<script>
  import { createTimeline, stagger, text } from "animejs";

  const tl = createTimeline({
    autoplay: true,
   delay: 500
  });

  const { chars } = text.split("h1", {
    chars: { wrap: false },
  });

  tl.add(
    "h1",
    {
      opacity: 1,
      duration: 80,
    },
    0,
  );

  tl.add(
    chars,
    {
      opacity: 0,
      duration: 0,
    },
    0,
  );

  tl.add(
    chars,
    {
      opacity: { from: 0, to: 1 },
      delay: stagger(20),
      duration: 400,
      ease: "outCubic",
    },
    0,
  );

  tl.add(
    chars,
    {
      rotateY: { from: "25deg", to: 0 },
      translateX: { from: 40, to: 0 },
      delay: stagger(20, { start: 30 }),
      duration: 500,
      ease: "outQuint",
    },
    0,
  );
</script>

<style>
  h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: min(2.5cqw, 1rem);
    font-size: 3.2rem;
    line-height: 1;
  }

  .subtitle {
    font-style: italic;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
    &:before {
      display: none;
    }
  }

  .book-heading {
    margin-bottom: min(10cqw, 4rem);
  }

  div.authors {
    display: inline;
    margin-top: calc(var(--heading-margin-bottom) * -1.01);
    margin-bottom: calc(var(--heading-margin-bottom) - 1ch);
    padding: 0px;
    color: var(--color-foreground-subtle);
    font-size: 1.1rem;

    & > ul {
      font-size: inherit;
      display: inline;
      & > li {
        display: inline;

        & > li {
          &:not(:last-child):after {
            content: ", ";
          }

          &:nth-last-child(2):after {
            content: " und ";
          }

          &:last-child:after {
            content: "";
          }
        }
      }
    }
  }
</style>
