---
const { title, authors, releaseDate } = Astro.props.frontmatter;
---

<style>
  span.authors:has(> :nth-child(2)) {
    & span.author:not(:nth-last-child(2))::after {
      content: ", ";
    }

    & span.author:last-child::before {
      content: " und ";
    }
  }

  p {
    margin-top: -1rem;
    opacity: 0.8;
    font-size: 1.1rem;
  }
</style>

<h2>{title}</h2>

<p>
  <span class="authors -mt-4"
    >{
      authors.map((author: string) => <span class="author">{author}</span>)
    }</span
  >, {releaseDate}
</p>
