---
import FormattedDate from "./FormattedDate.astro";
interface Props {
  title: string
  description: string
  date: Date
  className: string
}
const { title, description, date, className } = Astro.props;
---

<article
  class={"grid grid-cols-1 grid-rows-[1fr,1rem,2rem] border-2 px-6 pb-6 desktop:px-12 rounded-xs border-neutral focus-within:outline-4 hover:outline-4 outline-offset-0 hover:outline-offset-4 transition-all" +
    className}
>
  <h2 class="overflow-visible mb-0 z-10 clear-descenders line-clamp-2">
    {title}
  </h2>
  <FormattedDate
    className="text-neutral text-xs border-t-1 pt-1 -mt-1 border-neutral"
    date={date}
  />
  <p class="mt-4 overflow-ellipsis">{description}</p>
</article>
