---
import type { BlogPostType } from "../pages/blog/[...slug].astro";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  blogpost: BlogPostType;
  path?: string;
  className?: string;
}

const { blogpost, path = "", className = "" } = Astro.props;
const { slug, data } = blogpost;
const { title, description, pubDate } = data;
---

<article
  class="size-fit p-1 outline outline-foreground flex items-center justify-center focus-within:rounded focus-within:outline-0 transition-all"
>
  <div
    class={"grid grid-cols-1 grid-rows-subgrid h-full p-6 desktop:px-12 outline-foreground outline focus-within:rounded-xs focus-within:outline-6 transition-all" +
      className}
  >
    <h2
      class="mb-0 z-10 clear-descenders line-clamp-2 overflow-visible text-2xl cursor-pointer" 
    >
      <a href={path + "/" + slug} class="focus-visible:outline-0">
        {title}
      </a>
    </h2>
    <FormattedDate
      className="text-foreground-subtle text-xs border-t pt-1 -mt-1 border-neutral"
      date={pubDate}
    />
    <p class="mt-4 text-ellipsis line-clamp-2 h-12">{description}</p>
  </div>
</article>
