<details
  class="relative bg-background text-foreground-subtle not-open:pb-2 max-w-[69ch] border rounded [&>.details-content]:transition-all open:[&>summary]:border-b after:border-t after:rounded-b after:bg-background after:absolute after:bottom-0 after:left-0 after:right-0 after:h-2"
>
  <summary class="cursor-pointer marker:text-background">
    <svg
      height="6"
      width="10"
      xmlns="http://www.w3.org/2000/svg"
      class="inline mr-2 -translate-y-0.5"
    >
      <polygon points="0,0 10,3 0,6" class="fill-foreground origin-center"
      ></polygon>
    </svg>
    Details</summary
  >
  <div class="details-content p-2 pb-4 bg-surface rounded-b text-foreground">
    <slot />
  </div>
</details>
