---
const thisYear = new Date().getFullYear();
---

<footer class="w-full text-right text-xs p-2 text-foreground-subtle">
  <span class="inline-block">&copy;</span>
  <span>anno Domini {thisYear}</span>
</footer>
