---
const thisYear = new Date().getFullYear();
---

<footer class="w-full text-right text-xs p-2 text-foreground-subtle">
  <span class="inline-block translate-y-[0.5rem]">&copy;</span>
  <span>anno Domini {thisYear}</span>
  <br /><span class="border-t-1 border-foreground-subtle">Konstantin Kovar</span
  >
</footer>
