---
import { generateUuid } from "../consts";
const marginNoteId = generateUuid();
---

<label for={marginNoteId} class="margin-toggle">&#8853;</label>
<input type="checkbox" id={marginNoteId} class="margin-toggle" />
<span class="marginnote">
  <slot />
</span>
