---
import cx from "classix";

type Props = {
  animateName: boolean;
};

const shouldBeAnimated = Astro.props.animateName;
---

<div class="relative col-start-4 col-span-2 overflow-hidden h-36">
  <span
    id={shouldBeAnimated ? "chars1" : "nope1"}
    class="absolute font-mono opacity-0 text-lg">Konstantin Kovar</span
  >
  <p
    id={shouldBeAnimated ? "chars2" : "nope2"}
    class="absolute opacity-0 text-3xl"
  >
    Konstantin Kovar
  </p>
  <p
    id={shouldBeAnimated ? "chars3" : "nope3"}
    class={cx("font-decorative text-3xl", shouldBeAnimated && "opacity-0")}
  >
    Konstantin Kovar
  </p>
</div>

<script>
  import { stagger, text, createTimeline } from "animejs";
  const text1 = document.querySelector("#chars1") as HTMLElement;
  const text2 = document.querySelector("#chars2") as HTMLElement;
  const text3 = document.querySelector("#chars3") as HTMLElement;

  if (text1 && text2 && text3) {
    const { chars: chars1 } = text.split(text1, { chars: { wrap: true } });
    const { chars: chars2 } = text.split(text2, { chars: { wrap: true } });
    const { chars: chars3 } = text.split(text3, {
      chars: { wrap: true },
    });

    const baseStagger = stagger(50);

    const tl = createTimeline({ playbackEase: "out" });

    tl.set(chars1, { translateY: "100%" });
    tl.set(text1, { opacity: 1 });

    tl.set(chars2, { translateY: "-100%" });
    tl.set(text2, { opacity: 1 });

    tl.set(chars3, { translateY: "100%" });
    tl.set(text3, { opacity: 1 });

    tl.add(chars1, { translateY: 0, delay: baseStagger, duration: 150 });
    tl.add(chars1, { translateY: "100%", delay: baseStagger, duration: 150 });

    tl.add(
      chars2,
      { translateY: 0, delay: baseStagger, duration: 150 },
      "<-=850",
    );
    tl.add(chars2, {
      translateY: "-100%",
      delay: baseStagger,
      duration: 150,
    });

    tl.add(
      chars3,
      {
        translateY: 0,
        delay: baseStagger,
        duration: stagger(20, { start: 100 }),
      },
      "<-=750",
    );
  } else {
    // for visual consistency on non-animated pages
    text.split("#nope3", { chars: { wrap: true } });
  }
</script>
