---
import FormattedDate from "./FormattedDate.astro";

interface PostData {
  title: string;
  description?: string;
  pubDate: Date;
}

interface Post {
  id: string;
  data: PostData;
}

interface Props {
  posts: Post[];
  basePath: string;
  heading: string;
}

const { posts, basePath, heading } = Astro.props;
---

<section>
  <h2
    class="px-4 desktop:p-0 col-start-1 -col-end-1 font-display text-5xl underline underline-offset-2 clear-descenders mb-8"
  >
    {heading}
  </h2>
  <ul class="px-[2vw]">
    {
      posts.map(({ data, id }) => (
        <li class=" p-[0.2vw] odd:bg-surface odd:p-[0.6vw]  border-foreground-subtle">
          <a
            href={basePath + id}
            class="text-lg font-bold"
          >
            {data.title}
          </a>
          <span>{data.description}</span>
          <p class="leading-0">
            <FormattedDate
              className="text-foreground-subtle text-xs whitespace-nowrap"
              date={data.pubDate}
            />
          </p>
        </li>
      ))
    }
  </ul>
</section>
