---
import PostListItem from "./list-item/PostListItem.astro";

interface PostData {
  title: string;
  description?: string;
  pubDate: Date;
}

interface Post {
  id: string;
  data: PostData;
}

interface Props {
  posts: Post[];
  basePath: string;
  heading: string;
}

const { posts, basePath, heading } = Astro.props;
---

<section>
  <h2
    class="px-4 desktop:p-0 font-display text-5xl underline underline-offset-2 clear-descenders mb-8"
  >
    {heading}
  </h2>
  <ul class="grid grid-cols-1 gap-8 list-none p-0">
    {
      posts.map((post) => (
        <PostListItem id={post.id} data={post.data} basePath={basePath} />
      ))
    }
  </ul>
</section>
