---
import { generateUuid } from "../consts";
const sideNoteId = generateUuid();
---

<style>
  input {
    display: none;
  }

  span > code {
    font-size: 1rem;
  }
</style>

<label for={sideNoteId} class="margin-toggle sidenote-number"></label>
<input type="checkbox" id={sideNoteId} class="margin-toggle" />
<span class="sidenote">
  <slot />
</span>
