---
import { getCollection } from "astro:content";
import BookListItem from "../../components/list-item/BookListItem.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { BookPostType } from "./[...slug].astro";

const books: BookPostType[] = (await getCollection("book"))
	.filter(({ data }: BookPostType) => !data.draft && data.finishedDate)
	.sort(
		(a: BookPostType, b: BookPostType) =>
			a.data.finishedDate!.valueOf() - b.data.finishedDate!.valueOf(),
	)
	.reverse();
---

<BaseLayout
  lang="de"
  title="Jüngst gelesen"
  description="Die Bücher, die ich zuletzt gelesen habe."
>
  <h2 class="px-4 desktop:p-0 col-start-1 -col-end-1 font-display text-5xl underline underline-offset-2 clear-descenders mb-8">
    Jüngst gelesen
  </h2>
  <ul class="p-4 desktop:p-0 grid grid-cols-subgrid col-start-1 -col-end-1 gap-4">
    {books.map((book: BookPostType) => <BookListItem {...book} />)}
  </ul>
</BaseLayout>
