---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

type Props = {
  lang: "de" | "en";
  title: string;
  description: string;
};

const { lang, title, description } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <BaseHead title={title} description={description} />

  <body>
    <div id="body" class="grid grid-cols-12 gap-2 lg:gap-8">
      <Header />
      <aside><slot name="aside" /></aside>
      <main
        class="relative origin-top col-start-2 col-span-12 desktop:col-start-4"
      >
        <slot />
      </main>
    </div>

    <script
      is:inline
      data-goatcounter="https://konstantin.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"></script>
  </body>
</html>
