---
import BaseHead from "../components/BaseHead.astro";
import SidePanel from "../components/side-panel/SidePanel.astro";

type Props = {
  lang: "de" | "en";
  title: string;
  description: string;
};

const { lang, title, description } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <BaseHead title={title} description={description} />

  <body>
    <div id="body" class="grid grid-cols-11 gap-2 lg:gap-8">
      <SidePanel><slot name="aside"/></SidePanel>
      <main class="col-start-2 col-span-12 desktop:col-start-4">
        <slot />
      </main>
    </div>
  </body>
</html>
