---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Article from "../components/Article.astro";
import type { collections } from "../content/config";

type Props = (typeof collections)["book"];

const props = Astro.props;
---

<!doctype html>
<html lang="de-AT">
  <BaseHead title={props.title} description={props.description} />

  <body>
    <Header />
    <main>
      <Article {...props}>
        <slot />
      </Article>
      <!-- <Footer /> -->
    </main>
  </body>
</html>
