---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

type Props = { title: string; subtitle?: string; description: string };

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="de-AT">
  <BaseHead title={title} description={description} />

  <body>
    <Header />
    <main>
      <article class="article">
        <section>
          <slot />
        </section>
      </article>
      <!-- <Footer /> -->
    </main>
  </body>
</html>
