---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = { title: string; description: string };
---

<!doctype html>
<html lang="de-AT">
  <BaseHead title={Astro.props.title} description={Astro.props.description} />

  <body>
    <Header />
    <main>
      <article class="article">
        <section>
          <slot />
        </section>
      </article>
      <!-- <Footer /> -->
    </main>
  </body>
</html>
